<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<!DOCTYPE html>
<html>
<head>
  <title> {playpage:name}.com - {maxcms:sitename} </title>
 <meta name="description" content="" />
 <meta name="keywords" content="" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">  
  <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
 <body style="margin-top:60px;">
{maxcms:top}
<div  class="container">

   <div class="alert alert-success" >{playpage:textlink}.com</div>
 
 
 

<div class="alert alert-info hidden-xs"   style="height: 280px;">

     
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 160x600, build 08-10-30 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:250px"
     data-ad-client="ca-pub-8644709060035439"
     data-ad-slot="6439001474"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      
</div>



 

 
 
<div class="alert alert-success" role="alert">
      <strong>Title：</strong> {playpage:name}.com -{playpage:typename}-{maxcms:sitename}
    </div>
<div class="alert alert-success" role="alert">
      <strong>Description：</strong> {playpage:des}
    </div>
<div class="alert alert-success" role="alert">
      <strong>Keywords：</strong> {playpage:actor}
    </div>


  	 <div class="list-group" style="padding-top:10px;">
  <a href="#" class="list-group-item  list-group-item-success ">
    相关域名
  </a>

{maxcms:videolist num=10 type=current order=time}
 <a href=[videolist:link] target=blank class="list-group-item">[videolist:name len=30].com</a> 
{/maxcms:videolist}

 
</div>
 

		<div style="width:100%">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- auto the size -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8644709060035439"
			 data-ad-slot="9891231350"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>
<div class="alert alert-info hidden-xs"   style="height: 280px;">

 
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 160x600, build 08-10-30 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:250px"
     data-ad-client="ca-pub-8644709060035439"
     data-ad-slot="6439001474"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      
</div>
		<div style="width:80%">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- auto the size -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8644709060035439"
			 data-ad-slot="9891231350"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>




 

 



 


 


</div>
 

{maxcms:foot}
 </body>
</html>
