<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=""http://www.jinpp.cn/domain/">域名信息</a>
    </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<form class="navbar-form navbar-left" role="search" action="http://www.jinpp.cn/domain/search.asp">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="输入域名 注册状态 " name="searchword">
  </div>
  <button type="submit" class="btn btn-default">搜索域名</button>
</form>
</div>
  </div>
</nav>