<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<!DOCTYPE html>
<html>
<head>
  <title>{channelpage:typename} 第{channelpage:page}页-{maxcms:sitename}</title>
  <meta name="keywords" content="{channelpage:typename}第{channelpage:page}页{channelpage:keywords}" />
  <meta name="description" content="{channelpage:typename}第{channelpage:page}页{channelpage:description}" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">  
  <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
 <body>
<div  class="container">

 
   <div class="alert alert-success">{channelpage:typetext}</div>
 


<div class="alert alert-info">www.gaoxueya.com</div>

    <div class="row">
  	 {maxcms:channellist size=10 order=time}
    
    <div class="col-xs-12 col-md-3">
 

	  
		 <A href="[channellist:link]"> <img src="[channellist:pic]"     alt="[channellist:name]" /> </A> 
		 
			<H3><A title="[channellist:name]" href="[channellist:link]">[channellist:name len=10]</A></H3>
		 
			<P>参与医生：[channellist:actor]</P>
			<p><a href="[channellist:link]" ><img style="padding-top:5px;" src="images/xiangqing.jpg" /></a> <a href="[channellist:playlink]" ><img style="padding-top:5px;" src="images/player.jpg" /></a></p>
	
		 
	</div>
	  {/maxcms:channellist}
    </div>
<div class="alert alert-info">
  
[channellist:pagenumber len=8]
</div>

		<div style="width:60%">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- auto the size -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8644709060035439"
			 data-ad-slot="9891231350"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>
<div class="alert alert-info">减少脂肪，限制胆固醇：建议多吃植物油，限制动物脂肪摄入，脂肪供给40~50g/日，胆固醇应在300~400mg/日；
多吃含钾、钙、镁丰富的食物：如芹菜、土豆等；</div>
		<div style="width:40%">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- auto the size -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8644709060035439"
			 data-ad-slot="9891231350"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>




<div class="alert alert-success">多吃新鲜蔬菜和水果，以补充足量维生素C</div>
<div class="alert alert-info">多吃能保护血管和降压降脂的食物：</div>
<div class="alert alert-warning">降脂食物有山楂、香菇、大蒜、洋葱、海鱼、绿豆等</div>
<div class="alert alert-danger">降压食物有芹菜、胡萝卜、番茄、荸荠、黄瓜、木耳、海带、香蕉等</div>

<!-- Standard button -->
<button type="button" class="btn btn-default">蔬菜</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">水果</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">维生素C</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">山楂</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">香菇</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">大葱</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">香蕉</button>

<p></p>

<div class="list-group">
  <a href="#" class="list-group-item active">
   采用健康、安全、无毒副作用产生的负离子疗法来防治高血压。
  </a>
  <a href="#" class="list-group-item">忌喝浓茶、咖啡，戒烟忌酒；</a>
  <a href="#" class="list-group-item">节制饮食，定时定量进食，不过饥过饱，不暴饮暴食，不挑食偏食，饮食清淡。</a>
  <a href="#" class="list-group-item">只要你能做到合理饮食，同时有一个乐观的心态和适度运动，相信你一定会健康，长寿。</a>
  <a href="#" class="list-group-item">采用健康、安全、无毒副作用产生的负离子疗法来防治高血压。</a>
</div>



<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">科学降压</h4>
    <p class="list-group-item-text">多吃新鲜蔬菜和水果，以补充足量维生素C</p>
  </a>
</div>


 


</div>
 <!-- Live800在线客服图标:高血压[浮动图标]开始-->
<div style='display:none;'><a href='http://www.live800.com'>网页对话</a></div><script language="javascript" src="http://chat8.live800.com/live800/chatClient/floatButton.js?jid=7328328198&companyID=71715&configID=110497&codeType=custom"></script><div style='display:none;'><a href='http://en.live800.com'>live chat</a></div>
<!-- 在线客服图标:高血压结束-->
     
     <!-- Live800默认功能代码: 开始-->
<script language="javascript" src="http://chat8.live800.com/live800/chatClient/monitor.js?jid=7328328198&companyID=71715&configID=88384&codeType=custom"></script>
<!-- Live800默认功能代码: 结束-->


 </body>
</html>
