<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<!DOCTYPE html>
<html>
<head>
  <title> 德鲁伊第一视角解说 在线播放 - 高血压视频 </title>
 <meta name="description" content="<p>德鲁伊第一视角解说</p>" />
 <meta name="keywords" content="<p>德鲁伊第一视角解说</p>" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">  
  <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
 <body style="margin-top:60px;">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=""http://www.jinpp.cn/video/">健康视频</a>
    </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<form class="navbar-form navbar-left" role="search" action="../search.asp">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="输入疾病 医师 医院名称" name="searchword">
  </div>
  <button type="submit" class="btn btn-default">搜索</button>
</form>
</div>
  </div>
</nav>
<div  class="container">

 
   <div class="alert alert-success" ><a href='/'>首页</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href='/list/10.html' >生活</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;德鲁伊第一视角解说</div>
<style>
.videobtn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: url(/template/default/images/vbtn.png) no-repeat 50% 40% / 70px 70px;
    text-align: center;
    overflow: hidden;
}
</style>
<script type="text/javascript">
    var video = document.querySelector("video");
    var timeSpan = $('#timeSpan');
    var loadError = false;
    video.addEventListener("error", function (evt) {
        console.log("error", evt);
        loadError = true;
    });
    function updatePlayTimes(isLoad) {
        var pageLoad = isLoad || false;
        var gUrl = '/video/pcarticlepv?id=276153' + "&ts=" + (new Date()).getTime();
        if (pageLoad) {
            gUrl += "&isload=1";
        }
        $.get(gUrl, function (data) {
            console.log(data);
            timeSpan.text(data);
        });
    }
    updatePlayTimes(true);
    var isPlay = false;
    video.addEventListener("play", function (evt) {
        if (!loadError && !isPlay) {
            updatePlayTimes();
            isPlay = true;
        }
    });
var isff = window.navigator.userAgent.indexOf("Firefox") !== -1;
if(isff){
	document.getElementById("video_link").style.display="none";
}
	function playlist(){
		var MV=document.getElementById("myVideo");
		MV.play();
		document.getElementById("video_link").style.display="none";
	}
</script>

<div     style="position: relative;">
 
 <a id="video_link" href="javascript:void(0);" onclick="return playlist();" class="videobtn"></a>
 <video width="100%"  controls="controls"  poster="http://g4.ykimg.com/0100641F464C6A1EDFC69E028D906BB8ED889D-A307-598C-AAA1-B4C19BC98CDB"  id="myVideo">
 
  <source src="【海涛教你打DOTA】" type="video/mp4" />
 Your brows
 </video>
 </div>
  
 

<div class="alert alert-info hidden-xs"   style="height: 280px;">

     
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 160x600, build 08-10-30 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:250px"
     data-ad-client="ca-pub-8644709060035439"
     data-ad-slot="6439001474"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      
</div>



 

 
 
<div class="alert alert-success" role="alert">
      <strong>Title：</strong> 德鲁伊第一视角解说 在线播放-生活-高血压视频
    </div>
<div class="alert alert-success" role="alert">
      <strong>Description：</strong> <p>德鲁伊第一视角解说</p>
    </div>
<div class="alert alert-success" role="alert">
      <strong>Keywords：</strong> 
    </div>


  	 <div class="list-group" style="padding-top:10px;">
  <a href="#" class="list-group-item  list-group-item-success ">
    健康视频
  </a>


 <a href=/view/15.html target=blank class="list-group-item">德鲁伊第一视角解说</a> 


 
</div>
 

		<div style="width:100%">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- auto the size -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8644709060035439"
			 data-ad-slot="9891231350"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>
<div class="alert alert-info hidden-xs"   style="height: 280px;">

 
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 160x600, build 08-10-30 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:250px"
     data-ad-client="ca-pub-8644709060035439"
     data-ad-slot="6439001474"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      
</div>
		<div style="width:80%">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- auto the size -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8644709060035439"
			 data-ad-slot="9891231350"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>




 

 



 


 


</div>
 

<footer class="bs-docs-footer " style="
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 0px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730">
  <div class="container">

    <p>健康视频  版权所有
</p>

    
  </div>
</footer>
 </body>
</html>
