<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<!DOCTYPE html>
<html>
<head>
  <title> 口腔白斑介绍 口腔白斑是什么病 在线播放 - 高血压视频 </title>
 <meta name="description" content="什么是口腔白斑？临床上病理上不能诊断为其他疾病的白色斑块称口腔白斑，指发生在口腔黏膜上的白色或灰白色角化性病变的斑块状损害，是一种常见的非传染性慢性疾病，口腔各部黏膜均可发生，但以颊、舌部最多。白斑的色泽除了白色以外，还可表现为红白间杂的损害。在组织病理上的变化，为癌前损害的特征—上皮异常增生。
患者以中老年男性多见，白斑患者有吸烟习惯的占80%～90%，且发病部位多与烟的刺激部位一致。其他如咀嚼槟榔、酒、不良修复体、残冠、残根等刺激也能引起白斑。在全身因素中，白色念珠菌感染、维生素B12和叶酸缺乏、梅毒以及射线、口干症等均同白斑具有密切关系。白斑的病因目前并不清楚，口腔白斑是排除性诊断，大部分白斑没有明显临床症状，病人会觉得口腔里有些粗糙，或者在诊疗时发现有白色斑块，若白斑发生糜烂或者伴有念珠菌感染的时候，会出现疼痛症状。" />
 <meta name="keywords" content="什么是口腔白斑？临床上病理上不能诊断为其他疾病的白色斑块称口腔白斑，指发生在口腔黏膜上的白色或灰白色角化性病变的斑块状损害，是一种常见的非传染性慢性疾病，口腔各部黏膜均可发生，但以颊、舌部最多。白斑的色泽除了白色以外，还可表现为红白间杂的损害。在组织病理上的变化，为癌前损害的特征—上皮异常增生。
患者以中老年男性多见，白斑患者有吸烟习惯的占80%～90%，且发病部位多与烟的刺激部位一致。其他如咀嚼槟榔、酒、不良修复体、残冠、残根等刺激也能引起白斑。在全身因素中，白色念珠菌感染、维生素B12和叶酸缺乏、梅毒以及射线、口干症等均同白斑具有密切关系。白斑的病因目前并不清楚，口腔白斑是排除性诊断，大部分白斑没有明显临床症状，病人会觉得口腔里有些粗糙，或者在诊疗时发现有白色斑块，若白斑发生糜烂或者伴有念珠菌感染的时候，会出现疼痛症状。" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">  
  <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
 <body style="margin-top:60px;">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=""http://www.jinpp.cn/video/">健康视频</a>
    </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<form class="navbar-form navbar-left" role="search" action="../search.asp">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="输入疾病 医师 医院名称" name="searchword">
  </div>
  <button type="submit" class="btn btn-default">搜索</button>
</form>
</div>
  </div>
</nav>
<div  class="container">

 
   <div class="alert alert-success" ><a href='/'>首页</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href='/list/1.html' >视频</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;口腔白斑介绍 口腔白斑是什么病</div>
<style>
.videobtn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: url(/template/default/images/vbtn.png) no-repeat 50% 40% / 70px 70px;
    text-align: center;
    overflow: hidden;
}
</style>
<script type="text/javascript">
    var video = document.querySelector("video");
    var timeSpan = $('#timeSpan');
    var loadError = false;
    video.addEventListener("error", function (evt) {
        console.log("error", evt);
        loadError = true;
    });
    function updatePlayTimes(isLoad) {
        var pageLoad = isLoad || false;
        var gUrl = '/video/pcarticlepv?id=276153' + "&ts=" + (new Date()).getTime();
        if (pageLoad) {
            gUrl += "&isload=1";
        }
        $.get(gUrl, function (data) {
            console.log(data);
            timeSpan.text(data);
        });
    }
    updatePlayTimes(true);
    var isPlay = false;
    video.addEventListener("play", function (evt) {
        if (!loadError && !isPlay) {
            updatePlayTimes();
            isPlay = true;
        }
    });
var isff = window.navigator.userAgent.indexOf("Firefox") !== -1;
if(isff){
	document.getElementById("video_link").style.display="none";
}
	function playlist(){
		var MV=document.getElementById("myVideo");
		MV.play();
		document.getElementById("video_link").style.display="none";
	}
</script>

<div     style="position: relative;">
 
 <a id="video_link" href="javascript:void(0);" onclick="return playlist();" class="videobtn"></a>
 <video width="100%"  controls="controls"  poster="http://file.youlai.cn/cnkfile1/M00/00/26/ooYBAFd8vyuARZB0AAGEHqzQTWM77.jpeg"  id="myVideo">
 
  <source src="//gslb.miaopai.com/stream/hXL-xDG6gpXdc~3Ezin9IA__.mp4" type="video/mp4" />
 Your brows
 </video>
 </div>
  
 

<div class="alert alert-info hidden-xs"   style="height: 280px;">

     
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 160x600, build 08-10-30 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:250px"
     data-ad-client="ca-pub-8644709060035439"
     data-ad-slot="6439001474"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      
</div>



 

 
 
<div class="alert alert-success" role="alert">
      <strong>Title：</strong> 口腔白斑介绍 口腔白斑是什么病 在线播放-视频-高血压视频
    </div>
<div class="alert alert-success" role="alert">
      <strong>Description：</strong> 什么是口腔白斑？临床上病理上不能诊断为其他疾病的白色斑块称口腔白斑，指发生在口腔黏膜上的白色或灰白色角化性病变的斑块状损害，是一种常见的非传染性慢性疾病，口腔各部黏膜均可发生，但以颊、舌部最多。白斑的色泽除了白色以外，还可表现为红白间杂的损害。在组织病理上的变化，为癌前损害的特征—上皮异常增生。
患者以中老年男性多见，白斑患者有吸烟习惯的占80%～90%，且发病部位多与烟的刺激部位一致。其他如咀嚼槟榔、酒、不良修复体、残冠、残根等刺激也能引起白斑。在全身因素中，白色念珠菌感染、维生素B12和叶酸缺乏、梅毒以及射线、口干症等均同白斑具有密切关系。白斑的病因目前并不清楚，口腔白斑是排除性诊断，大部分白斑没有明显临床症状，病人会觉得口腔里有些粗糙，或者在诊疗时发现有白色斑块，若白斑发生糜烂或者伴有念珠菌感染的时候，会出现疼痛症状。
    </div>
<div class="alert alert-success" role="alert">
      <strong>Keywords：</strong> <a href="/search.asp?searchword=北京口腔医院">北京口腔医院</a>&nbsp;&nbsp;<a href="/search.asp?searchword=孙正">孙正</a>&nbsp;&nbsp;<a href="/search.asp?searchword=主任医师">主任医师</a>&nbsp;&nbsp;
    </div>


  	 <div class="list-group" style="padding-top:10px;">
  <a href="#" class="list-group-item  list-group-item-success ">
    健康视频
  </a>


 <a href=/view/5071.html target=blank class="list-group-item">小儿病毒性感冒的症状 小儿病毒性感冒临床表现有哪些</a> 

 <a href=/view/5070.html target=blank class="list-group-item">小儿病毒感染的治疗方法 小儿病毒感染怎么办</a> 

 <a href=/view/5069.html target=blank class="list-group-item">小儿感冒流鼻涕怎么办 小儿感冒流鼻涕有什么办法</a> 

 <a href=/view/5068.html target=blank class="list-group-item">小儿流鼻涕如何护理 小儿流鼻涕的护理</a> 

 <a href=/view/5067.html target=blank class="list-group-item">小儿感冒吃什么水果好 宝宝感冒了可以吃哪些水果</a> 

 <a href=/view/5066.html target=blank class="list-group-item">小儿咳嗽 什么是小儿咳嗽</a> 

 <a href=/view/5065.html target=blank class="list-group-item">小儿咳嗽类型 小儿咳嗽分类有哪些</a> 

 <a href=/view/5072.html target=blank class="list-group-item">子宫肌瘤的病因 子宫肌瘤是怎么引起的</a> 

 <a href=/view/5040.html target=blank class="list-group-item">防晒措施有哪些 如何防晒最有效</a> 

 <a href=/view/5047.html target=blank class="list-group-item">黄褐斑成因 黄褐斑形成的主要原因</a> 


 
</div>
 

		<div style="width:100%">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- auto the size -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8644709060035439"
			 data-ad-slot="9891231350"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>
<div class="alert alert-info hidden-xs"   style="height: 280px;">

 
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 160x600, build 08-10-30 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:250px"
     data-ad-client="ca-pub-8644709060035439"
     data-ad-slot="6439001474"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      
</div>
		<div style="width:80%">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- auto the size -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8644709060035439"
			 data-ad-slot="9891231350"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>




 

 



 


 


</div>
 

<footer class="bs-docs-footer " style="
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 0px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730">
  <div class="container">

    <p>健康视频  版权所有
</p>

    
  </div>
</footer>
 </body>
</html>
