<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<!DOCTYPE html>
<html>
<head>
  <title>美女记者刘洋泥石流采访遇险在线播放-视频-高血压视频</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">  
  <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
 <body>
<div  class="container">

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../">首页</a>
    </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<form class="navbar-form navbar-left" role="search" action="../search.asp">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" name="searchword">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
  </div>
</nav>
   <div class="alert alert-success" style="margin-top:80px;"><a href='/'>首页</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href='/list/index1.html' >视频</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;美女记者刘洋泥石流采访遇险</div>
 <div class="row">
  <div class="col-xs-12 col-sm-8 col-md-12">
<video width="100%"  controls="controls" loop="loop" poster="http://g2.ykimg.com/0100641F464C6A038D705E01C1251E1D35BC53-B89C-02C7-7AB5-E0B11B527091" autoplay="autoplay">
 
  <source src="成都二套美女记者" type="video/mp4" />
Your brows
</video>
</div>
  <div class="col-xs-12 col-sm-4  col-md-12">
 
<div class="list-group">
  <a href="#" class="list-group-item  list-group-item-success ">
    相关视频
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>

</div>
</div>

<div class="alert alert-success">
视频简介：<p>浑浊湍急的洪水、3根竹子拼成的便桥&hellip;&hellip;8月15日，都江堰市龙池镇暴雨、泥石流肆虐。23岁的成都电视台33频道女记者刘洋和消防、武警一起趟过洪水、往山区突进，搜救被困群众。没料到，暴涨的洪水将便桥冲毁，刘洋跌落桥下，被洪水冲出几十米，在众人的帮助下才幸运获救。<br />
<br />
　　昨日，刘洋已赶往医院治疗，她落水被救的博客和视频也在网上热传。在接受华西都市报记者专访时，她表示已经寻找到部分救命恩人，如今最大的愿望，就是希望灾区群众和自己一样，都要&ldquo;好好活着&rdquo;。<br />
<br />
　　山洪暴涨女记者落水险丧命<br />
<br />
　　8月15日中午1点左右，都江堰市龙池镇的山洪还在不断猛涨。刘洋等几名记者跟随消防、特警和武警，准备从龙池新村挺进龙池后山，搜救被困群众。救援人员用3根竹竿搭起过河的临时便桥，一个接一个地牵着绳索过河。尽管险象环生，但大家<br />
<br />
　　仍然咬着牙，一一趟了过去。<br />
<br />
　　虽然没有救生衣，但此刻刘洋也顾不上太多了：在电视台工作3年来，她已经参加过地震、火灾等多次突发事件采访，对于险情早已习以为常。<br />
<br />
　　然而，就在她奋力抓住两根救援人员拉起的绳索，一步步过桥时，突然猛涨的洪水却将便桥掀了个底朝天。刘洋用尽全力抓住绳索，但不等周围的救援人员将她拉上岸，散架的便桥竹竿就重重地砸到了她身上。一下子，湍急的河水就把刘洋冲出了几十米！<br />
<br />
　　&ldquo;从坚强到紧张，从不害怕到绝望，被洪水卷走的几十米，让我终生难忘。&rdquo;刘洋说，自己顿时呛进了几大口水，一直努力坚持着让头露出水面。<br />
<br />
　　情况万分危急之时，一位身穿蓝白条纹T恤的村民和几名消防战士迅速跳下河，追赶着去救她。最终，几个人终于联手抓住刘洋，在湍急的洪水中挣扎了好几米，终于艰<br />
<br />
　　难靠岸、化险为夷。<br />
<br />
　　这惊险的一幕，被随行的都江堰电视台记者拍摄记录了下来。<br />
<br />
　　寻找恩人望灾区群众都安全<br />
<br />
　　&ldquo;我们都知道灾区很危险，但谁让自己是新闻工作者呢？&rdquo;幸运脱险后，刘洋并没有离开。虽然未能继续随队进山，但她仍然坚守在龙池镇，完成了一组当地暴雨、泥石流现场情况的报道，直到晚上6点才回到成都，&ldquo;我要让更多市民了解第一线的灾情，为灾区提供一些力所能及的帮助。&rdquo;<br />
<br />
<br />
　　昨日下午2点，暂时忙完手中工作的刘洋才匆匆赶往医院。她被洪水卷走时，多处韧带拉伤，软组织挫伤。河道里锋利的碎石在她身上划出了许多血口子，被感染的脚几乎肿成了馒头。一心惦记着灾区的刘洋，只能被迫暂时病休。&ldquo;家人已经知道了，不过我都轻描淡写。这份喜欢的新闻工作，以后还是要继续。&rdquo;<br />
<br />
　　目前，刘洋已经找到了营救自己的温江消防的2名战士，她还将继续寻找自己的救命恩人。<br />
<br />
　　&ldquo;我后来看了现场视频，才知道原来为了救我，有那么多好心人伸出手，谢谢他们！&rdquo;刘洋说，自己最想找到的就是那位一直在她身后追赶、不顾自身安危的当地村民。通过这件事，她也重新认识了生命的可贵，希望灾区群众都能安全，和自己一样&ldquo;好好活着&rdquo;。</p>

参与医生：
</div>
<div class="alert alert-success">
视频地址： 成都二套美女记者
图片地址：http://g2.ykimg.com/0100641F464C6A038D705E01C1251E1D35BC53-B89C-02C7-7AB5-E0B11B527091
</div>
  <div class="row">
    <div class="col-sm-4">
      <h3>美女记者刘洋泥石流采访遇险</h3>
        

<video width="100%"    controls="controls" loop="loop" poster="http://g2.ykimg.com/0100641F464C6A038D705E01C1251E1D35BC53-B89C-02C7-7AB5-E0B11B527091">
 
  <source src="成都二套美女记者" type="video/mp4" />
Your brows
</video>
 
    </div>
    <div class="col-sm-4">
      <h3>什么是高血压？</h3>

         <video  width="100%"   controls="controls" loop="loop" poster="http://file.youlai.cn/cnkfile1/M00/00/51/o4YBAFebKcGAKar9AABOZBP6seU48.jpeg">
 
  <source src="http://videogaoxueya.qiniudn.com/what.mp4" type="video/mp4" />
Your browser does not support the video tag.
</video>
   			
    </div>
    <div class="col-sm-4">
      <h3>什么人容易得高血压？</h3>        
      <video  width="100%" height="240" controls="controls" loop="loop" poster="http://file.youlai.cn/cnkfile1/M00/12/FA/o4YBAFkiWjWAYpJSAABkdD2z2jw43.jpeg">
 
  <source src="http://videogaoxueya.qiniudn.com/who.mp4" type="video/mp4" />
Your browser does not support the video tag.
</video>
 

    </div>
  </div>

<div class="alert alert-info">www.gaoxueya.com</div>

  	 
<div class="alert alert-info">
  
<video  width="100%"  controls="controls" loop="loop" poster="http://file.youlai.cn/cnkfile1/M00/00/51/o4YBAFebKcGAKar9AABOZBP6seU48.jpeg">
 
  <source src="http://videogaoxueya.qiniudn.com/what.mp4" type="video/mp4" />
Your browser does not support the video tag.
</video>
</div>

		<div style="width:60%">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- auto the size -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8644709060035439"
			 data-ad-slot="9891231350"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>
<div class="alert alert-info">减少脂肪，限制胆固醇：建议多吃植物油，限制动物脂肪摄入，脂肪供给40~50g/日，胆固醇应在300~400mg/日；
多吃含钾、钙、镁丰富的食物：如芹菜、土豆等；</div>
		<div style="width:40%">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- auto the size -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8644709060035439"
			 data-ad-slot="9891231350"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>




<div class="alert alert-success">多吃新鲜蔬菜和水果，以补充足量维生素C</div>
<div class="alert alert-info">多吃能保护血管和降压降脂的食物：</div>
<div class="alert alert-warning">降脂食物有山楂、香菇、大蒜、洋葱、海鱼、绿豆等</div>
<div class="alert alert-danger">降压食物有芹菜、胡萝卜、番茄、荸荠、黄瓜、木耳、海带、香蕉等</div>

<!-- Standard button -->
<button type="button" class="btn btn-default">蔬菜</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">水果</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">维生素C</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">山楂</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">香菇</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">大葱</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">香蕉</button>

<p></p>

<div class="list-group">
  <a href="#" class="list-group-item active">
   采用健康、安全、无毒副作用产生的负离子疗法来防治高血压。
  </a>
  <a href="#" class="list-group-item">忌喝浓茶、咖啡，戒烟忌酒；</a>
  <a href="#" class="list-group-item">节制饮食，定时定量进食，不过饥过饱，不暴饮暴食，不挑食偏食，饮食清淡。</a>
  <a href="#" class="list-group-item">只要你能做到合理饮食，同时有一个乐观的心态和适度运动，相信你一定会健康，长寿。</a>
  <a href="#" class="list-group-item">采用健康、安全、无毒副作用产生的负离子疗法来防治高血压。</a>
</div>



<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">科学降压</h4>
    <p class="list-group-item-text">多吃新鲜蔬菜和水果，以补充足量维生素C</p>
  </a>
</div>


 


</div>
 


 </body>
</html>
