<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<!DOCTYPE html>
<html>
<head>
  <title>去除脸上黄褐斑方法 脸上黄褐斑怎么办在线播放-视频-高血压视频</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">  
  <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
 <body>
<div  class="container">

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../">首页</a>
    </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<form class="navbar-form navbar-left" role="search" action="../search.asp">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" name="searchword">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
  </div>
</nav>
   <div class="alert alert-success" style="margin-top:80px;"><a href='/'>首页</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href='/list/index1.html' >视频</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;去除脸上黄褐斑方法 脸上黄褐斑怎么办</div>
 <div class="row">
  <div class="col-xs-12 col-sm-8 col-md-12">
<video width="100%"  controls="controls" loop="loop" poster="http://file.youlai.cn/cnkfile1/M00/00/01/oYYBAFdGz2yAKYZIAAHoOMmmIrs32.jpeg" autoplay="autoplay">
 
  <source src="//gslb.miaopai.com/stream/z-56UnFUBWBZUwBy2Tuf8g__.mp4" type="video/mp4" />
Your brows
</video>
</div>
  <div class="col-xs-12 col-sm-4  col-md-12">
 
<div class="list-group">
  <a href="#" class="list-group-item  list-group-item-success ">
    相关视频
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>

</div>
</div>

<div class="alert alert-success">
视频简介：脸上长黄褐斑怎么办？脸上长了黄褐斑，首先要在医生指导下采取口服药物、外用药物和激光的综合治疗方法，外出时还要严格避光，注意防晒，平时保持良好的心态也有利于黄褐斑的缓解。同时还可使用含维生素E和SOD因子的护肤品。

参与医生：<a href="/search.asp?searchword=北医三院">北医三院</a>&nbsp;&nbsp;<a href="/search.asp?searchword=谷晓广">谷晓广</a>&nbsp;&nbsp;<a href="/search.asp?searchword=主治医师">主治医师</a>&nbsp;&nbsp;
</div>
<div class="alert alert-success">
视频地址： //gslb.miaopai.com/stream/z-56UnFUBWBZUwBy2Tuf8g__.mp4
图片地址：http://file.youlai.cn/cnkfile1/M00/00/01/oYYBAFdGz2yAKYZIAAHoOMmmIrs32.jpeg
</div>
  <div class="row">
    <div class="col-sm-4">
      <h3>去除脸上黄褐斑方法 脸上黄褐斑怎么办</h3>
        

<video width="100%"    controls="controls" loop="loop" poster="http://file.youlai.cn/cnkfile1/M00/00/01/oYYBAFdGz2yAKYZIAAHoOMmmIrs32.jpeg">
 
  <source src="//gslb.miaopai.com/stream/z-56UnFUBWBZUwBy2Tuf8g__.mp4" type="video/mp4" />
Your brows
</video>
 
    </div>
    <div class="col-sm-4">
      <h3>什么是高血压？</h3>

         <video  width="100%"   controls="controls" loop="loop" poster="http://file.youlai.cn/cnkfile1/M00/00/51/o4YBAFebKcGAKar9AABOZBP6seU48.jpeg">
 
  <source src="http://videogaoxueya.qiniudn.com/what.mp4" type="video/mp4" />
Your browser does not support the video tag.
</video>
   			
    </div>
    <div class="col-sm-4">
      <h3>什么人容易得高血压？</h3>        
      <video  width="100%" height="240" controls="controls" loop="loop" poster="http://file.youlai.cn/cnkfile1/M00/12/FA/o4YBAFkiWjWAYpJSAABkdD2z2jw43.jpeg">
 
  <source src="http://videogaoxueya.qiniudn.com/who.mp4" type="video/mp4" />
Your browser does not support the video tag.
</video>
 

    </div>
  </div>

<div class="alert alert-info">www.gaoxueya.com</div>

  	 
<div class="alert alert-info">
  
<video  width="100%"  controls="controls" loop="loop" poster="http://file.youlai.cn/cnkfile1/M00/00/51/o4YBAFebKcGAKar9AABOZBP6seU48.jpeg">
 
  <source src="http://videogaoxueya.qiniudn.com/what.mp4" type="video/mp4" />
Your browser does not support the video tag.
</video>
</div>

		<div style="width:60%">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- auto the size -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8644709060035439"
			 data-ad-slot="9891231350"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>
<div class="alert alert-info">减少脂肪，限制胆固醇：建议多吃植物油，限制动物脂肪摄入，脂肪供给40~50g/日，胆固醇应在300~400mg/日；
多吃含钾、钙、镁丰富的食物：如芹菜、土豆等；</div>
		<div style="width:40%">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- auto the size -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8644709060035439"
			 data-ad-slot="9891231350"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>




<div class="alert alert-success">多吃新鲜蔬菜和水果，以补充足量维生素C</div>
<div class="alert alert-info">多吃能保护血管和降压降脂的食物：</div>
<div class="alert alert-warning">降脂食物有山楂、香菇、大蒜、洋葱、海鱼、绿豆等</div>
<div class="alert alert-danger">降压食物有芹菜、胡萝卜、番茄、荸荠、黄瓜、木耳、海带、香蕉等</div>

<!-- Standard button -->
<button type="button" class="btn btn-default">蔬菜</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">水果</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">维生素C</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">山楂</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">香菇</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">大葱</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">香蕉</button>

<p></p>

<div class="list-group">
  <a href="#" class="list-group-item active">
   采用健康、安全、无毒副作用产生的负离子疗法来防治高血压。
  </a>
  <a href="#" class="list-group-item">忌喝浓茶、咖啡，戒烟忌酒；</a>
  <a href="#" class="list-group-item">节制饮食，定时定量进食，不过饥过饱，不暴饮暴食，不挑食偏食，饮食清淡。</a>
  <a href="#" class="list-group-item">只要你能做到合理饮食，同时有一个乐观的心态和适度运动，相信你一定会健康，长寿。</a>
  <a href="#" class="list-group-item">采用健康、安全、无毒副作用产生的负离子疗法来防治高血压。</a>
</div>



<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">科学降压</h4>
    <p class="list-group-item-text">多吃新鲜蔬菜和水果，以补充足量维生素C</p>
  </a>
</div>


 


</div>
 


 </body>
</html>
